$font-stack:    Helvetica, sans-serif;
$primary-color: #FFAE45;
$background-color: #333;
$content-background: #FFF;
$whiteTextColor: #CCC;

$switchPageDuration: 0.5s;

@mixin box-sizing($mode) {
	-webkit-box-sizing: $mode;
	-moz-box-sizing: $mode;
	-ms-box-sizing: $mode;
	box-sizing: $mode;
}

@mixin border-radius($rad) {
	-webkit-border-radius: $rad; 
	-moz-border-radius: $rad;
	border-radius: $rad;
}


@font-face {
	font-family: "DigitalDotRoadsign";
	src: url('Digital Dot Roadsign.otf') format("opentype");
}

body {
	font: 100% $font-stack;
	background: $background-color;
}

a {
	color: #D97A00;
}
	

#headLine {
	margin-top: 2%;
	text-align: center;
	color: $primary-color;
	text-shadow: 0 0 20pt #D97A00;
	font-family: "DigitalDotRoadsign";
	
	span {
		text-shadow: none;
		color: $whiteTextColor;
		font: 100% $font-stack;
		font-size: 0.3em;
		font-style: italic;
	}
}

#menuBar {
	margin-top: 3%;
	height: auto;
	width: 100%;
	font-size: 3em;
	text-align: center;

	a {
		margin: 0 10px 20px 10px;
		color: $primary-color;
		display: inline-block;
		position: relative;
		text-decoration: none;

		span {
			font: $font-stack;
			color: $whiteTextColor;
			transition: opacity 0.25s linear, transform 0.4s linear;
			opacity: 0;
			transform: scale(0);

			background: black;
			@include border-radius(3em);

			position: absolute;
			left: 50%;
			top: -100%;
			/* fixed width needed */
			width: 6em;
			/* half width */
			margin-left: -3em;
			margin-top: 5px;

			padding: 5px 10px;
			font-size: 0.35em;
			white-space: nowrap;
		}

		span::before {
			content: ' ';
			position: absolute;
			display: block;
			bottom:-20px;
			left:50%;
			margin-left: -10px;
			height: 0;
			width: 0;
			border: 10px solid transparent;
			border-top-color: black;
		}
	}

	a.active::after {
			content: ' ';
			position: absolute;
			display: block;
			top: 100%;
			left:50%;
			margin-left: -15px;
			margin-top: -10px;
			height: 0;
			width: 0;
			border: 15px solid transparent;
			border-bottom-color: white;
			z-index: 100;
	}
}


#content {
	position: relative;
	opacity: 1;
	height: auto;
	overflow: hidden;

	padding: 15px;
	background: $content-background;
	margin-bottom: 3%;
	@include border-radius(15px);
	box-shadow: 5pt 5pt 20pt 0;

	font-size: 1.1em;
	font: 100% $font-stack;

	transition: max-height 0.5s ease-in;
	max-height: 3000px;

	h2 {
		font-size: 1.7em;
		font-weight: bold;
		color: #D97A00;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid $primary-color;
		margin-bottom: 20px;
	}

	p {
		line-height: 1.2em;
	}

	article {
		position: relative;
		left: 0;
		top: 0;
		transition: opacity 0.3s linear;
		opacity: 0;
	}

	article.active {
		transition: opacity 0.3s linear;
		opacity: 1;
	}

	article.hide {
		display: none;
	}
}

#content.hide {
	transition: max-height 0.5s ease-out;
	max-height: 230px;
}

#mention {
	color: $whiteTextColor;
	text-align: center;
	margin-bottom: 2%;
}



/* Specific */

/* Home */
#home {
	display: block;
	text-align: justify;
	min-height: 230px;

	.external {
		display: block;
		margin: 5px;

		a {
			margin: 5px;
			text-decoration: none;
		}
	}
}


/* Curriculum */
#curriculum {
	position: relative;
	height: auto;
	width: 100%;


	#curriculumContent {
		position: relative;

		.timeline {
			width: 0;
			position: absolute;
			top: 5px;
			bottom: 5px;
		}

		.bullet {
			display: block;
			background: $background-color;
			position: absolute;
			z-index: 200;
		}

		.bullet::before {
			content: ' ';
			positon: absolute;
			display: block;
		}

		.exp {
			display: block;
			height: auto;
			position: relative;
			margin-bottom: 20px;

			.expContent {
				position:relative;
				display: block;

				background: $background-color;

				padding: 10px;
				@include border-radius(5px);
				box-shadow: 1pt 1pt 10pt 0 black;

				color: $whiteTextColor;
			}
		}

		.title {
			color: $primary-color;
			font-size: 1.15em;
		}

		.company {
			font-weight: bold;
			font-size: 1.1em;
		}

		.location {
			font-style: italic;
		}

		.description {
			text-align: justify;
		}

		.keys {
			font-style: italic;
		}
		.keys::before {
			content: 'Keywords: ';
			font-style: normal;
		}

	}
}


#projects {
	.wait {
		height: 100px;
		text-align: center;
	}

	.project {
		@include border-radius(5px);
		overflow: hidden;
		width: 100%;
		height: 200px;
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		perspective: 1000px;
		cursor: pointer;

		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
			height: 100%;
			width: 100%;

			.front {
				z-index: 2;
				/* for firefox 31 */
				transform: rotateY(0deg);


				.title {
					background: $background-color;
				}

				.title::before {
					display: block;
					content: " ";
					position: absolute;
					right: 0;
					top: 0;/*
					z-index: 100000;*/
					border: 10px solid #FFF;
					@include border-radius(0 0 0 5px);
					border-bottom-color: $primary-color;
					border-left-color: $primary-color;
					box-shadow: -2px 2px 3px 0 #000;
				}

				.icon {
					z-index: 0;
					position: absolute;
					width: 100%;
					height: 100%;
					background: $whiteTextColor;
					top: 0;
					left: 0;
					text-align: center;
				}
				

				.iconSwitch {
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 100;
					color: $background-color;

					.fa-arrow-right {
						color: $primary-color;
					}
				}
			}

			.back {
				transform: rotateY(180deg);

				.title {
					background: $primary-color;
					color: $background-color;
					text-align: center;
				}

				.title::before {
					display: block;
					content: " ";
					position: absolute;
					left: 0;
					top: 0;
					z-index: -10;
					border: 10px solid #FFF;
					@include border-radius(0 0 5px 0);
					border-bottom-color: $primary-color;
					border-right-color: $primary-color;
				}
			}

			.front, .back {
				backface-visibility: hidden;
				background: $background-color;
				@include border-radius(5px);
				overflow: hidden;

				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

		.title {
			position: relative;
			padding: 10px;
			font-weight: bold;
			font-size: 1.2em;
			color: $whiteTextColor;
			z-index: 15;
		}

		.contentBox {
			display: block;

			@include box-sizing(border-box);
			overflow: hidden;
			width: 100%;
			height: 100%;
			position: relative;


			.content {
				padding: 10px;
				text-align: justify;
				color: $whiteTextColor;
			}
		}
	}

	.project.flip {
		
		.flipper {
			transform: rotateY(180deg);
		}
	}
}